.custom-card {
    border-radius: 15px; //redondeo
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); //sombra
    background-color: #ffffff; //color del fondo
    color: #333333; //color de texto
  }
  
  .custom-card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 100%;
  }
  
  .custom-card ion-card-header {
    background-color: #f2f2f2;
  }
  
  .custom-card ion-card-title {
    color: #007bff;
  }
  
  .custom-card ion-card-subtitle {
    color: #555555;
  }
  