<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>datosdeveloper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">datosdeveloper</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="custom-card"> <!-- Añade la clase "custom-card" para aplicar estilos personalizados -->
    <img alt="Silhouette of mountains" src="../../assets/perfil-del-usuario.png" />
    <ion-card-header>
      <ion-card-title>Cristian Huanco</ion-card-title>
      <ion-card-subtitle>Licenciatura en Sistemas</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      DOCUMENTO NACIONAL DE IDENTIDAD: 43277564
    </ion-card-content>
  </ion-card>
</ion-content>
