<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Listado de Alumnoss</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="crear-alumnos" href="/tabs/crear-alumnos">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Crear Alumno</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="acerca-de" href="/tabs/acerca-de">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Acerca de ...</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="datosdeveloper" href="datosdeveloper">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Datos Developer</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
