<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>editar alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editar Alumnos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="full">
    <form [formGroup]="formulario" (ngSubmit)="updateAlumno()">
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text" class="form-control" formControlName="apellido" > </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" class="form-control" formControlName="nombre" > </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha</ion-label>
        <ion-input type="date" class="form-control" formControlName="fecha" > </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" >Actualizar</ion-button>
        </ion-col>
      </ion-row>

    </form>

    <div>
      <h4>Degug Info</h4>
      <div>Modelo: {{formulario.value | json}}</div>
    </div>

    </ion-list>

</ion-content>
